@import url("fontfaces.css");

body{
    background-color: #DEFBFF;
    font-family: CaviarDreams;
    color: #333;
    margin: 0;
}

.navBar{
    text-align: center;
    background-color: white;
}

.navBar ul{
    list-style-type: none;
    overflow: hidden;
}
.navBar a{
    display: block;
    text-align: center;
    padding: 15px;
}

.navBar a:hover{
    background-color: black;
    /* this is jsut filler */
}

.navBar li{
    float: left;
}

.mainBanner{
    font-family: Semisonic;
}

.topDiv{
    position: static;    
}

.topDiv{
    top: 0;
    left: 0;
}

